body{
    margin: 0;
    padding: 10px;
    background-color: rgba(137, 43, 226, 0.301);
    font-family: "Shadows Into Light", cursive;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    margin: 5px 0 5px;
    justify-content: space-around;
    background-color: #8a2be2;
    border-radius: 15px;
    width: 100%;
}

nav img{
    background-color: blueviolet;
    width: 50px;
    border-radius: 50%;
	animation: rotate-center 0.6s ease-in-out both;
    animation-iteration-count: 3;
}

nav p {
    color: azure;
}

nav p:hover{
    font-weight: bold;
    cursor: pointer;
    scale: 120%;
    rotate: 2deg;
}

select{
    background-color: #892be24d;
    border-radius: 8px;
}


.tabela {
    border:2px double #892be24d;
    border-collapse:separate;
    padding:18px;
}
.tabela caption {
    text-align:center;
}
.tabela th {
    border:2px double #892be24d;
    padding:18px;
    background:#a05ce0;
}
.tabela td {
    border:2px double #892be24d;
    text-align:center;
    padding:18px;
    background:#892be24d;
}

td.hour,th.hour{
    background:#4d098d63;
    color: white;
    border:5px double #ffffff72;
}